<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hotelstars">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HotelStars">
        <activity
            android:name=".activity.RoomService"
            android:exported="false" />
        <activity
            android:name=".activity.CustomerList"
            android:exported="false" />
        <activity
            android:name=".activity.AllBookingHistory"
            android:exported="false" />
        <activity
            android:name=".activity.ManageCurrentBooking"
            android:exported="false" />
        <activity
            android:name=".activity.ApproveBooking"
            android:exported="false" />
        <activity
            android:name=".activity.BookingHistory"
            android:exported="false" />
        <activity
            android:name=".activity.CurrentBooking"
            android:exported="false" />
        <activity
            android:name=".activity.ViewAllRoom"
            android:exported="false" />
        <activity
            android:name=".activity.RequestedBooking"
            android:exported="false" />
        <activity
            android:name=".activity.RoomPageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddRoomActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AdminPanel"
            android:exported="false" />
        <activity
            android:name=".activity.UserMenu"
            android:exported="false" />
        <activity
            android:name=".activity.UserProfile"
            android:exported="false" />
        <activity
            android:name=".activity.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AdminManageRoom"
            android:exported="false" />
        <activity
            android:name=".auth.VerifyEmail"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterPage"
            android:exported="false" />
        <activity
            android:name=".auth.LoginPage"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>